<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Plantilla</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>

	<main>

		<section>
			<form method="post" th:action="@{/adminModificarModelo}" th:object="${obj_modelo}">

				<label>ID: </label>
				<input type="text" th:field="*{id}">
				<br>

				<label>Nombre: </label>
				<input type="text" th:field="*{nombre}">
				<br>

				<input type="submit" value="Modificar modelo">

			</form>
		</section>
	</main>

</body>

</html>