<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>

	<div th:include="plantilla.html::cabecera"></div>

	<main>
		<section class="tiendaContainer">
			<table class="tablaIndex" border="1">
				<thead>
					<tr>
						<th>Id</th>
						<th>Modelo</th>
						<th>Marca</th>
						<th>Anotaciones</th>
						<th>Capacidad</th>
						<th>numeroSerie</th>
						<th>Ram</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="elem : ${atr_lista_ordenadores}">
						<td th:text="${elem.id}">Id</td>
						<td th:text="${elem.modelo.nombre}">Modelo</td>
						<td th:text="${elem.marca.nombre}">Marca</td>
						<td th:text="${elem.anotaciones}">Anotaciones</td>
						<td th:text="${elem.capacidad}">Capacidad</td>
						<td th:text="${elem.numeroSerie}">Numero de serie</td>
						<td th:text="${elem.ram}">Ram</td>
					</tr>
				</tbody>
			</table>
		</section>
		<footer style="font-size: large" class="panel-footer">
		    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
		    &nbsp; &nbsp; - &nbsp;
		    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
		        <a th:href="@{'/' + ${i}}">[[${i}]]</a>
		        &nbsp; &nbsp;
		    </span>
		</footer>
	</main>
</body>

</html>